.indexbuttons {
    font-family: $buttonfont;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    border-radius: 50rem;
    &:hover {
        background-color: $hovercolor;
    }
}

.section__button {
    @extend .indexbuttons;
}

.news__button {
    @extend .indexbuttons;
        font-size: 0.8rem;
        position:relative;
        top:-2rem;
    }
    
    @mixin size ($fontsize,$fontfamily){
        font-size: $fontsize;
      font-family: $fontfamily;
    }

    .support__info h1{
@include size(2.5rem,revolution)
    }

    .support__form{
        @include size (100rem,buttons)
    }