@font-face {
    font-family: revolution;
    src: url(../fonts/Akira\ Expanded\ Demo.otf);
  }
  @font-face {
    font-family: george;
    src: url(../fonts/Sansation_Regular.ttf);
  }
  @font-face {
    font-family: simple;
    src: url(../fonts/Kalyant\ Demo-Light.otf);
  }
  @font-face {
    font-family: buttons;
    src: url(../fonts/AltoneTrial-Regular.ttf);
  }
  @font-face {
    font-family: akira;
    src: url(../fonts/Cocogoose\ Pro-trial.ttf)
  }
 