@import "general";
@import "variables";
@import "animation";
  .main__items {
    background-color: black;
    .main__video {
        width: 100%;
        min-height: fit-content;
    }
      .main__video--center {
        display: flex;
        flex-direction: column;
        align-items: center;
        .main__title {
            font-family: $subtitlefont;
            color: white;
            font-size: 0.7rem;
            text-align: center;
            text-transform: capitalize;
            position: relative;
            top: -11rem;
          }
          .main__logo {
            width: 15rem;
            position: relative;
            top: -12rem;
          }
  }
}
  .section__game {
    margin-top: -8rem;
    background-image: url(../images/valorantbackground.jpg);
    background-repeat: no-repeat;
    background-size: unset;
    min-width: fit-content;
    padding: 5rem;
        .section__one{
            display: flex;
            align-items: flex-end;
            h2{
                font-family: $subtitlefont;
                font-size: 0.9rem;
                color: black;
                text-transform: capitalize;
            } 
            .section__button {
                font-family: $buttonsfont;
                font-size: 0.7rem;
                border-radius: 0.4rem;
                padding: 0.5rem;
                background-color: rgba(255, 255, 255, 0);
                box-shadow: inset 0 0 0 $redpalettedark;
                transition: ease-out 0.5s;
                    &:hover{
                        box-shadow:inset 9.5rem 0 0 $redpalettedark ;
                    }
        }
    }
        .news__items {
            padding-top: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column-reverse;
            img{
                border-radius: 20rem;
                width: 7rem;
                margin-top: 1rem;
            }
              p {
                padding-top: 3rem;
                font-family: $subtitlefont;
                font-size: 0.7rem;
                color: black;
                text-transform: capitalize;
              }
              .news__button {
                font-family: $buttonsfont;
                font-size: 0.6rem;
                color: black;
                background-color: rgba(255, 255, 255, 0);
                box-shadow: inset 0 0 0 $redpalettedark;
                transition: ease-out 0.5s;
                    &:hover{
                        box-shadow:inset 9.5rem 0 0 $redpalettedark ;
                    }
              }

          }
}
@media screen and (min-width: 480px){
  h2{
    color: red;
  }
}


