/*index*/
/*mobile first*/
.main__items {
    background-color: black;
    margin-top: -2rem;
    .main__video{
        width: 100%; 
    }
}
.main__video--center{
    display: flex;
    flex-direction: column;
    align-items: center;
    .main__title {
        font-family: $titlefont;
        color: white;
        font-size: 70%;
        text-align: center;
        text-transform: capitalize;
        position: relative;
        top: -10rem;
    }
    .main__logo{
        width: 30%;
        position: relative;
        top: -10rem;
    }    
}
.section__game{
    background-image: url(../images/imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .section__text{
        font-family: george;
        font-size: 1rem;
        color: white;
        text-transform: capitalize;
    }
}
.section__button{
    font-family: $buttonfont;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    border-radius: 50rem;
    &:hover{
        background-color: $hovercolor;
    }
}
.news__items {
    background-color: rgba(84, 57, 76, 255);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .news__img {
        border-radius: 30rem;
        width: 8rem;
    }
    p {
        font-family: george;
        font-size: 0.9rem;
        color: white;
        text-transform: capitalize;
        position: relative;
        left: 2rem;
    }
    .news__button {
        font-family: buttons;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        border-radius: 30rem;
        position: relative;
        top: -2rem;
        &:hover{
                background-color: $hovercolor; 
        }
    }
}

@media screen and (min-width: 460px) {
    .section__game {
        margin-top: -7rem;
        min-height: 15rem;
    }
}

@media screen and (min-width: 480px) {
    .section__game {
        margin-top: -8rem;
    }
}

@media screen and (min-width: 600px) {
    .section__game {
        margin-top: -7rem;
    }
    .footer__text {
        font-size: 65%;
    }
    .main__title {
        top: -15rem;
        font-size: 80%;
    }

    .main__logo {
        top: -16rem;
    }
}

@media screen and (min-width: 695px) {
    .section__game {
        margin-top: -9rem;
        min-height: 17rem;
    }
}

@media screen and (min-width: 768px) {
    .main__title {
        top: -20rem;
        font-size: 150%;
    }

    .main__logo {
        top: -20rem;
    }

    .section__game {
        margin-top: -9rem;
        min-height: 20rem;
        .section__text {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 900px) {
    .section__game {
        margin-top: -10rem;
        min-height: 30rem;
    }

    .news__items{
         p {
        font-size: 1.5rem;
    }
}
    .news__button {
        font-size: 1rem;
    }

    .section__button {
        font-size: 1.5rem;
    }

    @media screen and (min-width: 992px) {
        .header__content{
             a {
            letter-spacing: 0.2rem;
            font-size: 1rem;
        }
    }
}
}

@media screen and (min-width: 1024px) {
    .section__game {
        margin-top: -11rem;
    }

    .main__title {
        top: -27rem;
        font-size: 170%;
    }

    .main__logo {
        top: -28rem;
    }

    .news__button {
        font-size: 1.5rem;
    }

    .section__button {
        font-size: 2rem;
    }

    .section__text {
        font-size: 1.5rem;
    }

    .footer__text {
        font-size: 80%;
    }
}

@media screen and (min-width: 1140px) {
    .section__game {
        margin-top: -12rem;
    }
}

@media screen and (min-width: 1200px) {
    .section__game {
        margin-top: -13rem;
    }

    .main__title {
        top: -35rem;
        font-size: 170%;
    }

    .main__logo {
        top: -35rem;
    }
    }