@font-face {
    font-family: revolution;
    src: url(../fonts/Akira\ Expanded\ Demo.otf);
}

@font-face {
    font-family: george;
    src: url(../fonts/Sansation_Regular.ttf);
}

@font-face {
    font-family: simple;
    src: url(../fonts/Kalyant\ Demo-Light.otf);
}

@font-face {
    font-family: buttons;
    src: url(../fonts/AltoneTrial-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*index*/
/*mobile first*/
.maps__body {
    background-color: black;
}

.header__content a {
    text-decoration: none;
    font-family: revolution;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
}

.header__img {
    width: 12rem;
}

.header__button {
    width: 2rem;
}

.header__list img:hover {
    background-color: rgb(49, 44, 44);
}

.header__list {
    background-color: black;
}

.header__list a:hover {
    background-color: rgb(49, 44, 44);
}

.main__items {
    background-color: black;
    margin-top: -2rem;
}

.main__video {
    width: 100%;
}

.main__title {
    font-family: george;
    color: white;
    font-size: 70%;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    top: -10rem;
}

.main__logo {
    width: 30%;
    position: relative;
    top: -10rem;
}

.main__video--center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__game {
    background-image: url(../images/imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

:root{
    --animate-duration: 3s;
}

.section__text {
    font-family: george;
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
}

.section__button {
    font-family: buttons;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    border-radius: 30rem;
}

.section__button:hover {
    background-color: gray;
}

.news__items {
    background-color: rgba(84, 57, 76, 255);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.news__img {
    border-radius: 30rem;
    width: 8rem;
}

.news__items p {
    font-family: george;
    font-size: 0.9rem;
    color: white;
    text-transform: capitalize;
    position: relative;
    left: 2rem;
}

.news__button {
    font-family: buttons;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    border-radius: 30rem;
    position: relative;
    top: -2rem;
}

.news__button:hover {
    background-color: gray;
}

.footer__items {
    background-color: black;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
}

.footer__icons {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer__text {
    color: white;
    font-family: buttons;
    text-align: center;
    font-size: 50%;
    padding-top: 1rem;
}

@media screen and (min-width: 460px) {
    .section__game {
        margin-top: -7rem;
        min-height: 15rem;
    }
}

@media screen and (min-width: 480px) {
    .section__game {
        margin-top: -8rem;
    }
}

@media screen and (min-width: 600px) {
    .section__game {
        margin-top: -7rem;
    }

    .footer__text {
        font-size: 65%;
    }

    .main__title {
        top: -15rem;
        font-size: 80%;
    }

    .main__logo {
        top: -16rem;
    }
}

@media screen and (min-width: 695px) {
    .section__game {
        margin-top: -9rem;
        min-height: 17rem;
    }
}

@media screen and (min-width: 768px) {
    .main__title {
        top: -20rem;
        font-size: 150%;
    }

    .main__logo {
        top: -20rem;
    }

    .section__game {
        margin-top: -9rem;
        min-height: 20rem;
    }

    .section__text {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 900px) {
    .section__game {
        margin-top: -10rem;
        min-height: 30rem;
    }

    .news__items p {
        font-size: 1.5rem;
    }

    .news__button {
        font-size: 1rem;
    }

    .section__button {
        font-size: 1.5rem;
    }

    @media screen and (min-width: 992px) {
        .header__content a {
            letter-spacing: 0.2rem;
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .section__game {
        margin-top: -11rem;
    }

    .main__title {
        top: -27rem;
        font-size: 170%;
    }

    .main__logo {
        top: -28rem;
    }

    .news__button {
        font-size: 1.5rem;
    }

    .section__button {
        font-size: 2rem;
    }

    .section__text {
        font-size: 1.5rem;
    }

    .footer__text {
        font-size: 80%;
    }
}

@media screen and (min-width: 1140px) {
    .section__game {
        margin-top: -12rem;
    }
}

@media screen and (min-width: 1200px) {
    .section__game {
        margin-top: -13rem;
    }

    .main__title {
        top: -35rem;
        font-size: 170%;
    }

    .main__logo {
        top: -35rem;
    }
}

/*MAPS SECTION */
/*MOBILE FIRST*/
.maps__bind {
    background-image: url(../images/bind.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 20rem;
}

.maps__bind h1 {
    font-family: revolution;
    font-size: 3rem;
    color: white;
}

.maps__bind p {
    font-family: george;
    font-size: 0.7rem;
    color: white;
    text-align: left;
}

.maps__haven {
    background-image: url(../images/haven.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 20rem;
}

.maps__haven h1 {
    font-family: revolution;
    font-size: 3rem;
    color: white;
}

.maps__haven p {
    font-family: george;
    font-size: 0.7rem;
    color: white;
    text-align: left;
}

.maps__fracture {
    background-image: url(../images/fracture.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 20rem;
}

.maps__fracture h1 {
    font-family: revolution;
    font-size: 2rem;
    color: white;
}

.maps__fracture p {
    font-family: george;
    font-size: 0.7rem;
    color: white;
    text-align: left;
}

@media screen and (min-width: 1024px) {

    .maps__fracture,
    .maps__bind,
    .maps__haven {
        min-height: 35rem;
    }

    .maps__fracture p,
    .maps__bind p,
    .maps__haven p {
        font-size: 1.5rem
    }

    .maps__fracture h1 {
        font-size: 5rem;
    }

    .maps__bind h1,
    .maps__haven h1 {
        font-size: 5rem;
    }
}

/*support*/
/*mobilefirst*/
.support__body {
    background-color: black;
}

.support__info {
    background-image: url(../images/support.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    height: 45rem;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
}

.support__info h1 {
    font-family: revolution;
    color: white;
    font-size: 2.5rem;
}

.support__form {
    font-family: buttons;
    color: white;
    font-size: 1rem;
}

@media screen and (min-width: 600px) {
    .support__info h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .support__header a {
        display: block;
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .support__info h1 {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .support__info h1 {
        font-size: 5rem;
    }
}

/*MERCH*/
/*mobile first*/
.merch__body {
    background-color: black;
}

.merch {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 30rem 30rem;
}

.merch__logo {
    background-image: url(../images/valorantmerch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.merch__logo h1 {
    font-family: revolution;
    color: white;
    font-size: 3rem;
}

.merch__logo h2 {
    font-family: george;
    color: white;
    font-size: 2rem;
}

.merch__clothes {
    background-image: url(../images/merch.jpg);
    background-repeat: no-repeat;
    background-size: 30rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.merch__clothes h2 {
    font-family: george;
    color: white;
    font-size: 2rem;
}

.merch__windbreaker {
    background-image: url(../images/defythelimits.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.merch__windbreaker h3 {
    font-family: george;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.merch__windbreaker h4 {
    font-family: george;
    color: white;
    font-size: 2rem;
}

@media screen and (min-width: 367px) {
    .merch__clothes {
        background-size: cover;

    }
}

@media screen and (min-width: 680px) {
    .merch__logo {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .merch__logo h1 {
        font-size: 4rem;
    }

    .merch__clothes h2 {
        font-size: 3rem;
    }

    .merch__windbreaker h3 {
        font-size: 3rem;
    }

    .merch__windbreaker h4 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 800px) {
    .merch {
        grid-template-rows: 50rem 50rem 50rem;
    }
}

@media screen and (min-width: 1200px) {
    .merch {
        grid-template-rows: 70rem 70rem 70rem;
    }

    .merch__logo h1 {
        font-size: 5rem;
    }

    .merch__clothes h2 {
        font-size: 4rem;
    }

    .merch__windbreaker h3 {
        font-size: 4rem;
    }

    .merch__windbreaker h4 {
        font-size: 4rem;
    }
}

/*PLAYERS*/
/*mobile first*/
.players__body {
    background-color: black;
}

.players {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 5rem;
}

.players__leaderboard {
    background-image: url(../images/omen.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    flex-wrap: wrap;
    justify-content: center;
}

.players__leaderboard img {
    width: 15%;
}

.players__leaderboard h1 {
    font-family: revolution;
    color: white;
    font-size: 1.3rem;
}

.players__search {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players__search h2 {
    font-family: george;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

.players__input {
    width: 30%;
    text-align: center;
}

.players__list li {
    color: white;
    font-family: george;
    font-size: 1rem;
}

.imgradiant {
    width: 2rem;
}

.animate__fadeIn {
    animation-duration: 4s;
}

@media screen and (min-width: 600px) {
    .players__search h2 {
        font-size: 1.5rem;
    }

    .players__leaderboard h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 800px) {
    .players__leaderboard {
        height: 40rem;
    }

    .players__search h2 {
        font-size: 2rem;
    }

    .players__leaderboard h1 {
        font-size: 3rem;
    }

    .players__list {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .players {
        grid-template-rows: 40rem 5rem;
    }
}