@font-face {
    font-family: revolution;
    src: url(../fonts/Akira\ Expanded\ Demo.otf);
}
@font-face {
    font-family: george;
    src: url(../fonts/Sansation_Regular.ttf);
}
@font-face {
    font-family: simple;
    src: url(../fonts/Kalyant\ Demo-Light.otf);
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
/*index*/
/*mobile first*/
.header__list li{
    display: inline;
}
.header__list a{
    text-decoration: none;
    font-family: revolution;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    color: rgb(243, 237, 237);
    display: none;
}
.header__list img{
    width: 3rem;
}
.header__list img:hover{
    background-color: rgb(49, 44, 44);
}
.header__list{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.header__list a:hover{
    background-color: rgb(49, 44, 44);
}
.main__items{
    background-color: black;
}
.main__video{ 
    width: 100%; 
}
.main__title{
    font-family: george;
    color: white;
    font-size: 70%;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    top: -10rem;
}
.main__logo{
    width: 30%;
    position: relative;
    top: -10rem;
}
.main__video--center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__game{
    background-image: url(../images/imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.animate__animate.animate__slideInLeft{
    --animate-duration: 6s;
  }
.section__text{
    font-family: george;
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
}
.section__text:hover{
    animation-duration: 3s;
    animation-name: slidein;
}
.section__button{
    font-family: revolution;
    font-size: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 30rem;
}
.section__button:hover{
    background-color: gray;
}
.news__items{
    background-color: rgba(84,57,76,255);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.news__img{
    border-radius: 30rem;
    width: 10rem;
}
.news__items p{
    font-family: george;
    font-size:1rem;
    color: white;
    text-transform: capitalize;
    position: relative;
    left: 2rem;
}
.news__button{
    font-family: revolution;
    font-size: 0.7rem;
    width: 5rem;
    height: 5rem;
    border-radius: 30rem;
    position: relative;
    right: -2rem;
}
.news__button:hover{
    background-color: gray;
}
.footer__items{
    background-color: black;
    padding-top: 1rem;
}
.footer__icons{
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.footer__text{
    color: white;
    font-family: george;
    text-align: center;
    font-size: 20%;
}
@media screen and (min-width: 480px){
    .section__game{
        margin-top: -5rem;
    }
}
@media screen and (min-width: 600px){
    .section__game{
        margin-top: -7rem;
    }
    .footer__text{
        font-size: 80%;
    }
}
    @media screen and (min-width: 768px){
        .main__title{
            top: -20rem;
            font-size: 150%;
        }
        .main__logo{
            top: -20rem;
        }
        .section__game{
            margin-top: -8rem;
        }
        .section__text{
            font-size: 1.5rem;
    }
    .section__button{
        width: 6rem;
        height: 6rem;
    }
    .news__button{
        width: 6rem;
        height: 6rem;
}
    }
    @media screen and (min-width: 1024px){
        .header__list a{
            display: block;
            font-size: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .section__game{
            margin-top: -10rem;
        }

    }
    @media screen and (min-width: 1200px){
        .section__game{
            margin-top: -12rem;
        }
            .section__text{
            font-size: 2rem;
    }
    .section__button{
        width: 8rem;
        height: 8rem;
    }
    .news__button{
        width: 8rem;
        height: 8rem;
}
.news__items p{
    font-size: 2rem;
}
.main__title{
    top: -35rem;
    font-size: 170%;
}
.main__logo{
    top: -35rem;
}
    }
/*MAPS SECTION */
/*MOBILE FIRST*/
.mapsheader__list li{
    display: inline;
}
.mapsheader__list a{
    text-decoration: none;
    font-family: revolution;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    color: rgb(243, 237, 237);
    display: none;
}
.mapsheader__list img{
    width: 3rem;
}
.mapsheader__list img:hover{
    background-color: rgb(49, 44, 44);
}
.mapsheader__list a:hover{
    background-color: rgb(49, 44, 44);
}
.mapsheader__list{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.maps{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 20rem 20rem;
}
.maps__bind{
    background-image: url(../images/bind.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
.maps__bind h1{
    font-family: revolution;
    font-size: 5rem;
    color: white;
}
.maps__bind p{
    font-family: george;
    font-size: 0.7rem;
    color: white;
    text-align: left;
}
.maps__haven{
    background-image: url(../images/haven.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.maps__haven h1{
    font-family: revolution;
    font-size: 5rem;
    color: white;
}
.maps__haven p{
    font-family: george;
    font-size: 0.7rem;
    color: white;
    text-align: left;
}
.maps__fracture{
    background-image: url(../images/fracture.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.maps__fracture h1{
    font-family: revolution;
    font-size: 3rem;
    color: white;
}
.maps__fracture p{
    font-family: george;
    font-size: 0.7rem;
    color: white;
    text-align: left;
}
@media screen and (min-width: 480px){
    .maps__fracture p{
        font-size: 0.9rem;
    }
    .maps__haven p{
        font-size: 0.9rem;
    }
    .maps__bind p{
        font-size:0.9rem;
    }
}
@media screen and (min-width: 600px){
    .maps__fracture p{
        font-size: 1rem;
    }
    .maps__haven p{
        font-size: 1rem;
    }
    .maps__bind p{
        font-size:1rem;
    }
    .maps__bind h1{
        font-size: 6rem;
    }
    .maps__fracture h1{
        font-size: 4rem;
    }
    .maps__haven h1{
        font-size: 6rem;
    }
    .maps{
        grid-template-rows: 25rem 25rem 25rem;
    }
}
@media screen and (min-width: 1024px){
    .mapsheader__list a{
        display: block;
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .maps__fracture p{
        font-size: 1.3rem;
    }
    .maps__haven p{
        font-size: 1.3rem;
    }
    .maps__bind p{
        font-size:1.3rem;
    }
    .maps__bind h1{
        font-size: 7rem;
    }
    .maps__fracture h1{
        font-size: 5rem;
    }
    .maps__haven h1{
        font-size: 7rem;
    }
    .maps{
        grid-template-rows: 30rem 30rem 30rem;
    }
}
@media screen and (min-width: 1200px){
    .maps__fracture p{
        font-size: 1.5rem;
    }
    .maps__haven p{
        font-size: 1.5rem;
    }
    .maps__bind p{
        font-size:1.5rem;
    }
    .maps__bind h1{
        font-size: 8rem;
    }
    .maps__fracture h1{
        font-size: 6rem;
    }
    .maps__haven h1{
        font-size: 8rem;
    }
    .maps{
        grid-template-rows: 35rem 35rem 35rem;
    }
}
/*support*/
/*mobilefirst*/
.support__header li{
    display: inline;
}
.support__header a{
    text-decoration: none;
    font-family: revolution;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    color: rgb(243, 237, 237);
    display: none;
}
.support__header img{
    width: 3rem;
}
.support__header img:hover{
    background-color: rgb(49, 44, 44);
}
.support__header a:hover{
    background-color: rgb(49, 44, 44);
}
.support__header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.support__info{
    background-image: url(../images/support.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    height: 45rem;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
}
.support__info h1{
     font-family: revolution;
     color: white;
     font-size: 2.5rem;
}
.support__form{
    background-color: black;
    font-family: simple;
    font-size: 0.7rem;
    color: white;
    text-align: center;
    width: 20rem;
    height: 16rem;
    display: flex;
    align-items: flex-end;
}
.support__form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    margin-left: 5rem;
}
@media screen and (min-width: 600px){
    .support__info h1{
        font-size: 3rem;
    }
}
@media screen and (min-width: 1024px){
    .support__header a{
        display: block;
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .support__info h1{
        font-size: 4rem;
    }
}
    @media screen and (min-width: 1024px){
        .support__info h1{
            font-size: 5rem;
        }
    }
/*MERCH*/
/*mobile first*/
.merch{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 30rem 30rem;
}
.merch__logo{
    background-image: url(../images/valorantmerch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 64%;
      width: 100%;
    }
  }
.merch__logo h1{
    font-family: revolution;
     color: white;
     font-size: 3rem;
     animation-name: slidein;
     animation-duration: 3s;
}

.merch__logo h2{
    font-family: george;
    color: white;
    font-size: 2rem;
}
.merch__clothes{
    background-image: url(../images/merch.jpg);
    background-repeat: no-repeat;
    background-size: 30rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.merch__clothes h2{
    font-family: george;
    color: white;
    font-size: 2rem;
}
.merch__windbreaker{
    background-image: url(../images/defythelimits.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.merch__windbreaker h3{
    font-family: revolution;
    color: black;
    font-size: 2rem;
    text-align: center;
}
.merch__windbreaker h4{
    font-family: revolution;
    color: black;
    font-size: 2rem;
}
@media screen and (min-width: 367px){
    .merch__clothes{
        background-size: cover;

}
}
@media screen and (min-width: 680px){
.merch__logo{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.merch__logo h1{
     font-size: 4rem;
}
.merch__clothes h2{
    font-size: 3rem;
}
.merch__windbreaker h3{
    font-size: 3rem;
}
.merch__windbreaker h4{
    font-size: 3rem;
}
}
@media screen and (min-width: 800px){
    .merch{
        grid-template-rows: 50rem 50rem 50rem;
    }
}
@media screen and (min-width: 1200px){
    .merch{
        grid-template-rows: 70rem 70rem 70rem;
    }
    .merch__logo h1{
        font-size: 5rem;
   }
   .merch__clothes h2{
       font-size: 4rem;
   }
   .merch__windbreaker h3{
       font-size: 4rem;
   }
   .merch__windbreaker h4{
       font-size: 4rem;
   }
}
/*PLAYERS*/
/*mobile first*/
.players{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 10rem;
}
.players__leaderboard{
    background-image: url(../images/omen.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    flex-wrap: wrap;
    justify-content: center;
}
.players__leaderboard img{
    width: 15%;
}
.players__leaderboard h1{
    font-family: revolution;
    color: white;
    font-size: 1rem;
}
.players__search{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.players__search h2{
    font-family: revolution;
    color: white;
    font-size: 1rem;
    text-align: center;
}
.players__input{
    width: 30%;
    text-align: center;
}
.players__list{
    background-color: black;
    display: flex;
    justify-items: center;
    color: white;
    font-family: simple;
    font-size: 1rem; 
}
@media screen and (min-width: 600px){
   .players__list{
    flex-wrap: wrap;
    justify-content: center;
   }
   .players__search h2{
    font-size: 1.5rem;
}
.players__leaderboard h1{
    font-size: 2rem;
}
}
@media screen and (min-width: 800px){
    .players{
        grid-template-rows: 40rem 15rem;
    }
    .players__leaderboard{
        height: 40rem;
    }
    .players__search h2{
        font-size: 2rem;
    }
    .players__leaderboard h1{
        font-size: 3rem;
    }
    .players__list{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 900px){
    .players{
        grid-template-rows: 50rem 20rem;
    }
    .players__leaderboard{
        height: 50rem;
    }
}
@media screen and (min-width: 1024px){
    .players{
        grid-template-rows: 60rem 20rem;
    }
    .players__leaderboard{
        height: 60rem;
    }
    .players__search h2{
        font-size: 3rem;
    }
    .players__leaderboard h1{
        font-size: 2rem;
    }
    .players__list{
        font-size: 2rem;
    }
}